.generic-button{
    background-color: transparent;
    border: none;
    padding: 7px 10px;
}

.btn-blu{
    background-color: #0061ff;
    color: white;
}

.btn-16{
    font-size: 16px;
}

.trasp-black{
    border: 1px solid black;
    margin-top: 30px;
}

.white{
    background-color: white;
    padding: 10px 50px;
    margin-top: 20px;
}

.btn-blu:hover{
    background-color: lightskyblue;
    color: black;
    border: 1px solid lightgray;
    cursor: pointer;
}

.trasp-black:hover{
    background-color: lightgray;
    cursor: pointer;
}

.white:hover{
    background-color: lightgray;
    cursor: pointer;
}