
.container{
    max-width: 1200px;
    margin: auto;
}

.row{
   display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.mgb-20{
    margin-bottom: 20px;
}

.container-small{
    max-width: 1000px;
    margin: auto;
}

.col-3{
    width: 30%;
}

.spaced{
    justify-content: space-between;
    margin-bottom: 20px;
}

.sixtypercent{
    width: 60%;
}

.wrapped{
    flex-wrap: wrap;
}

hr{
    width: 30%;
}

#faq hr{
    width: 100%;
}

.blu{
    color: blue;
}