.hero{
    background-color: #b4d0e7;
}

.hero-img{
    width: 100%;
}

.hero1{
    width: 30%;
}

.hero2{
    width: 70%;
}

.hero1 p{
    margin: 35px 0;
}

.hero1 i{
    padding-top: 70px;
    font-size: 40px;
}